@media (max-width: 800px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .grid-container,
  .grid-container--footer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
  .grid-container--team {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {
  .nav-desktop {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
  .grid-container--team {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .grid-container--footer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
  }
  .item:nth-child(3) {
    grid-column-start: 2;
  }
  .item:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

@media (width >= 2500px) {
  html {
    font-size: 28px;
  }
}

@media (width >= 3500px) {
  html {
    font-size: 32px;
  }
}
