html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

p {
  padding-bottom: 0.5rem;
}

.nav-desktop {
  align-items: center;
}

.button-rounded {
  background-color: white;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  font-size: 0.8rem;
  cursor: pointer;
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.centered-container--lg {
  max-width: 1100px;
  margin-inline: auto;
  padding: 2rem;
}
.centered-container--md {
  max-width: 600px;
  margin-inline: auto;
  padding: 2rem;
}

.grid-container,
.grid-container--team,
.grid-container--footer {
  display: grid;
}

.grid-container--team {
  gap: 1rem;
}

.grid-container--footer {
  padding: 2rem;
}

.team-card {
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
.team-card__content {
  background-color: white;
  padding: 0.9rem;
}
.team-card__header {
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.team-card__subheader {
  color: gray;
}

.border-rounded {
  border-radius: 1rem;
}
